/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/theming';
$custom-typography: mat-typography-config(
  $font-family: 'Montserrat'
);

@include angular-material-typography($custom-typography);


html, body { height: 100%; }
body { margin: 0; font-family: 'Montserrat';font-size: 22px;}

.artist-image{
    width: 100px;
    height: 100px;
    z-index: 1;
    
}	