.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height:100vh;
    width: 100%;
    background-color: #f5f5f5;
    .title{
        font-size: 2rem;
        font-weight: 600;
        color: #333;
        line-height: 1;
    }
    .subtitle{
        font-size: 1.5rem;
        font-weight: 400;
        color: #333;
        justify-self: center;
    }
}

.page{
    min-height: 100vh;
    width: 100%;
    .waves {
        position: relative;
        z-index: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 20%;

      }
      .parallax > use {
        animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
      }
      .parallax > use:nth-child(1) {
        animation-delay: -2s;
        animation-duration: 7s;
      }
      .parallax > use:nth-child(2) {
        animation-delay: -3s;
        animation-duration: 10s;
      }
      .parallax > use:nth-child(3) {
        animation-delay: -4s;
        animation-duration: 13s;
      }
      @keyframes move-forever {
        0% {
         transform: translate3d(-90px,0,0);
        }
        100% { 
          transform: translate3d(85px,0,0);
        }
      }
}



.profile-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
    width: 100%;
    min-height: 20%;
    text-align: center;    
}

.example-section {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  .slider{
    margin: 8px;
    fill : #333;
  }
}

::ng-deep .mat-accent .mat-slider-track-fill {
  background-color: rgba(29, 185, 84,0.7) !important;
}

::ng-deep.mat-slider-thumb-label {
  background-color: rgba(29, 185, 84,0.7) !important;

}

::ng-deep.mat-slider-thumb {
  background-color: rgba(29, 185, 84,0.7) !important;
}

::ng-deep .mat-slider-ticks {
  background-color: rgba(29, 185, 84,0.7) !important;
}

.user-image{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
}


.display-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 15px;
    text-align: center;
}

.artist-image{
    width: 100px;
    height: 100px;
    z-index: 1;
    
}	
.top-artist-container{
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    width: 75%;
    height: 100px;
    border-radius: 8px;
    margin-top: 4rem;
    background-color: rgba(231, 226, 226, 1);
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    z-index: 1;
    // background-color: rgba(0, 0, 0, 1);
    .waves {
        position: absolute;
        z-index: 0;
        bottom: 0;
        width: 100%;
        height: 40%;
        border-radius: 8px;
      }
      .parallax > use {
        animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
      }
      @keyframes move-forever {
        0% {
         transform: translate3d(-90px,0,0);
        }
        100% { 
          transform: translate3d(85px,0,0);
        }
      }
      .top-artist-info{
        display: flex;
        flex-direction: column;
        align-items: start;
        text-align: start;
        margin-left: 1rem;
        margin-top: 10px;
        z-index: 1;
        width: 100%;
        height: 100%;
        .artist-name{
            font-size: 1.5rem;
            font-weight: 600;
            color: #333;
            cursor: pointer;
        }
        .artist-genre{
            font-size: 1rem;
            font-weight: 400;
            color: #333;
            margin-top: -5px;
        }
        .artist-followers{
            font-size: 0.8rem;
            font-weight: bold;
            color: #333;
          
        }
      }
}

.track-image{
    width: 100px;
    height: 100px;
    z-index: 1;
}

.image-container{
    z-index: 50;
    position: relative;
    display: flex;
    &:hover{
        cursor: pointer;
        .play-button{
            display: block;
        }
    }
}


.play-button{
    position: absolute;
    z-index: 100;
    width: 100px;
    height: 100px;
    justify-items: center;
    background-color: rgba(0,0,0,0.2);
    text-align: center;
    display: none;
    .play-symbol{
        width: 50px;
        height: 50px;
        margin-top: 25px;

        fill: #f5f5f5;
    }
}
.three{
  background:radial-gradient(circle, rgba(69,184,93,0.5228466386554622) 13%, rgba(148,233,180,0.3) 39%);
}