.container{
    display: flex;
    overflow: hidden;
    flex-direction: column;
    text-align: center;
    color: #000;
    border-radius: 8px;
    width:400px ;
}

::ng-deep.mat-dialog-container {
    background-color:#f5f5f5;
    padding: 0px!important;
     margin: 0px!important;
}
.artist-profile{
    max-width: 100%;
    min-width: 100%;
    height: 50%;
    position: relative;
    display: flex;
    flex-direction: column;
    padding:10px 5px ;
    background-color: rgba(231, 226, 226, 1);
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    text-align: center;
    align-items: center;
}  
.related{
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.related-wrapper{
    display: flex;
    flex-direction: row;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    overflow-x: scroll;
    overflow-y: hidden;
}
.related-artist{
    margin: 10px auto;
    width: 30%;
}
.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    min-height: 100%;
    text-align: center;   
    position: relative; 
    padding: 10px 5px;
    background-color: rgba(231, 226, 226, 1);
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);

}
.info{
    max-height: 100%;
    min-height: 100%;
    overflow: hidden;
    text-align: start;
    padding: 10px 5px;
    width: 50%;
    background-color: rgba(231, 226, 226, 1);
    p{
        line-height: 1.5rem;
        font-weight: 300;
        margin-bottom: 0;
        overflow: auto;
    }
}

.wrap{
    display: flex;
    flex-direction: row;
}

.chart{
    min-width: 100%;
    max-height: 100%;
    align-items: center;    
    justify-content: center;
}

.modal-pic{
    box-shadow: 0 0 10px rgba(0,0,0,1);
}
h1{
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 0;
    z-index: 1;
}
h2{
    font-size: 1.3rem;
    font-weight: 400;
    margin-bottom: 0;
    z-index: 1;
}
.waves {
    position: absolute;
    z-index: 0;
    bottom: 0;
    width: 100%;
    height: 20%;

  }
  .parallax > use {
    animation: move-forever 10s cubic-bezier(.55,.5,.45,.5)     infinite;
  }
  @keyframes move-forever {
    0% {
     transform: translate3d(-90px,0,0);
    }
    100% { 
      transform: translate3d(85px,0,0);
    }
  }